html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

body{
  background-image: url("../img/arena.png");
  background-repeat: no-repeat;
  background-size: 100%;
  zoom: 80%;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
}

#immaginiUp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#schermi{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
  padding: 25px;
}

#schermo1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#turno{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Georgia;
  position: absolute;
}

#schermo2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.lifebar{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.726);
}

.mosse{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.mossa{
  margin: 10px;
  height: 25px;
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
}

.ulti{
  height: 25px;
  width: 80px;
  border-radius: 10px;
  opacity: 0.6; 
  cursor: not-allowed;
}
#fulmine{
  position:absolute;
  z-index: 20;
  display: none;
  height: 150px;
  width: 300px;
}
#nuvola{
  position:absolute;
  z-index: 20;
  display: none;
  left: 64%;
  top: 0%;  
  height: 180px;
  width: 350px;
}

#colpo{
  position:absolute;
  z-index: 20;
  display: none;
}
#pugno{
  position:absolute;
  z-index: 20;
  display: none;
}
#spada{
  position:absolute;
  z-index: 20;
  display: none;
  height: 150px;
  width: 300px;
}
#scudo1{
  position:absolute;
  z-index: 20;
  display: none;
  height: 550px;
  width: 400px;
}
#scudo2{
  position:absolute;
  z-index: 20;
  display: none;
  height: 550px;
  width: 400px;
}
/* Goldrake*/
#attacco1:focus + #fulmine{
  display: block;
  animation: Aniattacco1 1s;
  animation-timing-function: linear;
  left: 70%;
  top: 10%;   
  height: 100px;
  width: 100px;
}

#attacco1:focus ~ #nuvola{
  display: block;
  left: 62.5%;
  top: 0%;   
}

#ulti1:focus + #pugno{
  display: block;
  animation: Aniulti1 1s linear;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  left: 28%;
  top: 38%; 
}

#difesa1:focus + #scudo1{
  display: block;
  left: 23%;
  top: 13%;
  animation: Aniscudo1 3s linear;
  animation-timing-function: linear;
}

/* Gundam*/

#attacco2:focus + #colpo{
  display: block;
  right: 30%;
  top: 37%;
  animation: Aniattacco2 1s linear;
  animation-timing-function: linear;
}

#ulti2:focus + #spada{
  display: block;
  animation: Aniulti2 1s linear;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  right: 26%;
  top: 35%;
  transform: rotate(35deg);
}

#difesa2:focus + #scudo2{
  display: block;
  animation: Aniscudo2 3s linear;
  animation-timing-function: linear;
  right: 26%;
  top: 16.5%;   
}

@keyframes Aniscudo1{ 
  0%{   
    left: 21.5%;
    top: 40%;   
    height: 50px;
    width: 20px;       
  }
  15%{
    left: 21.8%;
    top: 39%;
    height: 100px;
    width: 40px;  
        
  }  
  30%{
    left: 22%;
    top: 35%;
    height: 150px;
    width: 60px;
        
  }
  45%{
    left: 22.4%;
    top: 30%;  
    height: 300px;
    width: 120px;
        
  }
  60%{
    left: 22.7%;
    top: 25%;    
    height: 400px;
    width: 200px;
        
  }
  80%{
    left: 22.9%;
    top: 23%;   
    height: 500px;
    width: 300px; 
        
  }
  100%{
    left: 23%;
    top: 18%;   
    height: 540px;
    width: 400px;
        
  }   
}

@keyframes Aniscudo2{ 
  0%{   
    right: 20%;
    top: 40%;   
    height: 50px;
    width: 20px;       
  }
  15%{
    right: 20.5%;
    top: 39%;
    height: 100px;
    width: 40px;  
        
  }  
  30%{
    right: 21%;
    top: 35%;
    height: 150px;
    width: 60px;
        
  }
  45%{
    right: 21.5%;
    top: 30%;  
    height: 300px;
    width: 120px;
        
  }
  60%{
    right: 22%;
    top: 25%;    
    height: 400px;
    width: 200px;
        
  }
  80%{
    right: 22.5%;
    top: 23%;   
    height: 500px;
    width: 300px; 
        
  }
  100%{
    right: 25%;
    top: 17%;   
    height: 550px;
    width: 400px;
        
  }   
}

@keyframes Aniattacco1{ 
  0%{   
    left: 68%;
    top: 8%;   
    height: 50px;
    width: 20px;       
  }
  15%{
    left: 68.5%;
    top: 8.5%;
    height: 100px;
    width: 40px;  
        
  }  
  30%{
    left: 69%;
    top: 10%;
    height: 150px;
    width: 60px;
        
  }
  45%{
    left: 69.2%;
    top: 12%;  
    height: 150px;
    width: 70px;
        
  }
  60%{
    left: 69.4%;
    top: 14%;    
    height: 200px;
    width: 80px;
        
  }
  80%{
    left: 69.6%;
    top: 16%;   
    height: 250px;
    width: 125px; 
        
  }
  100%{
    left: 70%;
    top: 17%;   
    height: 300px;
    width: 150px;
        
  }   

}

@keyframes Aniattacco2{
  0%{   
    right: 30%;
    top: 37%;  
    transform: rotate(0deg);       
  }
  15%{
    right: 35%;
    top: 35%;  
    transform: rotate(-120deg);  
        
  }  
  30%{
    right: 40%;
    top: 35%;  
    transform: rotate(-240deg);  
        
  }
  45%{
    right: 45%;
    top: 35%;  
    transform: rotate(-360deg);  
        
  }
  60%{
    right: 50%;
    top: 36%;  
    transform: rotate(-480deg);  
        
  }
  85%{
    right: 55%;
    top: 37%;  
    transform: rotate(-600deg);  
        
  }
  100%{
    right: 66%;
    top: 37%;  
    transform: rotate(-720deg);  
        
  } 
}

@keyframes Aniulti1{
  0%{   
    left: 28%;
    top: 38%;       
  }
  15%{
    left: 30%;
    top: 40%;   
        
  }  
  30%{
    left: 35%;
    top: 45%;  
        
  }
  45%{
    left: 40%;
    top: 40%;  
        
  }
  60%{
    left: 48%;
    top: 32%;   
        
  }
  80%{
    left: 55%;
    top: 28%;   
        
  }
  100%{
    left: 63%;
    top: 32%;  
        
  }
}

@keyframes Aniulti2{
  0%{   
    right: 26%;
    top: 35%;
    transform: rotate(35deg);       
  }
  15%{
    right: 30%;
    top: 36%;   
        
  }  
  30%{
    right: 35%;
    top: 37%;  
        
  }
  45%{
    right: 40%;
    top: 37%;  
        
  }
  60%{
    right: 48%;
    top: 38%;   
        
  }
  70%{
    right: 63%;
    top: 38%; 
    transform: rotate(0deg);  
  }
  80%{
    right: 63%;
    top: 38%; 
    transform: rotate(-180deg);   
        
  }
  100%{
    right: 63%;
    top: 38%;  
    transform: rotate(-360deg); 
        
  }
}
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/

  @media screen and (max-width: 768px){ 

  body{
    margin: 0px;
    background-image: url("../img/arena.png");
    background-repeat: no-repeat;
    background-size: cover;
    zoom: 70%;
  }

  #scudo1{
    position:absolute;
    z-index: 20;
    display: none;
    height: 500px;
    width: 350px;
  }

  #scudo2{
    position:absolute;
    z-index: 20;
    display: none;
    height: 550px;
    width: 300px;
  }

  #nuvola{
    position:absolute;
    z-index: 20;
    display: none;
    left: 64%;
    top: 0%;  
    height: 200px;
    width: 300px;
  }

  #attacco1:focus ~ #nuvola{
    display: block;
    left: 57%;
    top: 0%;   
  }

  #difesa1:focus + #scudo1{
    display: block;
    left: 24.5%;
    top: 20%;
    animation: scudo1 3s linear;
    animation-timing-function: linear;
  }

  #attacco1:focus + #fulmine{
    display: block;
    animation: attacco1 1s;
    animation-timing-function: linear;
    left: 66%;
    top: 10%;   
    height: 100px;
    width: 100px;
  }

  #attacco2:focus + #colpo{
    display: block;
    right: 35%;
    top: 37%;
    animation: attacco2 1s linear;
    animation-timing-function: linear;
  }
  #ulti1:focus + #pugno{
    display: block;
    animation: ulti1 1s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    left: 28%;
    top: 38%; 
  }
  #ulti2:focus + #spada{
    display: block;
    animation: ulti2 1s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    right: 28%;
    top: 35%;
    transform: rotate(35deg);
  }


  @keyframes scudo1{ 
    0%{   
      left: 21.5%;
      top: 40%;   
      height: 50px;
      width: 20px;       
    }
    15%{
      left: 21.8%;
      top: 39%;
      height: 100px;
      width: 40px;  
          
    }  
    30%{
      left: 22%;
      top: 35%;
      height: 150px;
      width: 60px;
          
    }
    45%{
      left: 22.4%;
      top: 30%;  
      height: 300px;
      width: 120px;
          
    }
    60%{
      left: 22.7%;
      top: 25%;    
      height: 400px;
      width: 200px;
          
    }
    80%{
      left: 22.9%;
      top: 23%;   
      height: 450px;
      width: 300px; 
          
    }
    100%{
      left: 23%;
      top: 20%;   
      height: 500px;
      width: 350px;
          
    }   
  }

  @keyframes scudo2{ 
    0%{   
      right: 20%;
      top: 40%;   
      height: 50px;
      width: 20px;       
    }
    15%{
      right: 20.5%;
      top: 39%;
      height: 100px;
      width: 40px;  
          
    }  
    30%{
      right: 21%;
      top: 35%;
      height: 150px;
      width: 60px;
          
    }
    45%{
      right: 21.5%;
      top: 30%;  
      height: 300px;
      width: 120px;
          
    }
    60%{
      right: 22%;
      top: 25%;    
      height: 400px;
      width: 200px;
          
    }
    80%{
      right: 22.5%;
      top: 23%;   
      height: 475px;
      width: 250px; 
          
    }
    100%{
      right: 25%;
      top: 17%;   
      height: 550px;
      width: 300px; 
          
    }   
  }

  @keyframes attacco1{ 
    0%{   
      left: 68%;
      top: 8%;   
      height: 50px;
      width: 20px;       
    }
    15%{
      left: 68.5%;
      top: 8.5%;
      height: 100px;
      width: 40px;  
          
    }  
    30%{
      left: 69%;
      top: 10%;
      height: 150px;
      width: 60px;
          
    }
    45%{
      left: 69.2%;
      top: 12%;  
      height: 150px;
      width: 70px;
          
    }
    60%{
      left: 69.4%;
      top: 14%;    
      height: 200px;
      width: 80px;
          
    }
    80%{
      left: 69.6%;
      top: 16%;   
      height: 250px;
      width: 125px; 
          
    }
    100%{
      left: 70%;
      top: 17%;   
      height: 300px;
      width: 150px;
          
    }   
  
  }

  @keyframes attacco2 {
    0%{   
      right: 35%;
      top: 37%;  
      transform: rotate(0deg);       
    }
    15%{
      right: 37%;
      top: 35%;  
      transform: rotate(-120deg);  
          
    }  
    30%{
      right: 40%;
      top: 35%;  
      transform: rotate(-240deg);  
          
    }
    45%{
      right: 45%;
      top: 35%;  
      transform: rotate(-360deg);  
          
    }
    60%{
      right: 50%;
      top: 36%;  
      transform: rotate(-480deg);  
          
    }
    85%{
      right: 55%;
      top: 37%;  
      transform: rotate(-600deg);  
          
    }
    100%{
      right: 58%;
      top: 37%;  
      transform: rotate(-720deg);  
          
    } 
  }

  @keyframes ulti1 {
    0%{   
      left: 28%;
      top: 38%;       
    }
    15%{
      left: 30%;
      top: 40%;   
          
    }  
    30%{
      left: 35%;
      top: 45%;  
          
    }
    45%{
      left: 40%;
      top: 40%;  
          
    }
    60%{
      left: 45%;
      top: 32%;   
          
    }
    80%{
      left: 50%;
      top: 28%;   
          
    }
    100%{
      left: 55%;
      top: 32%;  
          
    }
  }

  @keyframes ulti2 {
    0%{   
      right: 28%;
      top: 35%;
      transform: rotate(35deg);       
    }
    15%{
      right: 30%;
      top: 36%;   
          
    }  
    30%{
      right: 35%;
      top: 37%;  
          
    }
    45%{
      right: 40%;
      top: 37%;  
          
    }
    60%{
      right: 48%;
      top: 38%;   
          
    }
    70%{
      right: 60%;
      top: 38%; 
      transform: rotate(0deg);  
    }
    80%{
      right: 60%;
      top: 38%; 
      transform: rotate(-180deg);   
          
    }
    100%{
      right: 60%;
      top: 38%;  
      transform: rotate(-360deg); 
          
    }
  }

}

  @media screen and (max-width: 550px){

  body{
    margin: 0px;
    background-image: url("../img/arena.png");
    background-repeat: no-repeat;
    background-size: cover;
    zoom: 60%;
  }

  #scudo1{
    position:absolute;
    z-index: 20;
    display: none;
    height: 500px;
    width: 250px;
  }

  #scudo2{
    position:absolute;
    z-index: 20;
    display: none;
    height: 500px;
    width: 250px;
  }

  #difesa1:focus + #scudo1{
    display: block;
    left: 24.5%;
    top: 17%;
    animation: scudo1 3s linear;
    animation-timing-function: linear;
  }

  #attacco1:focus ~ #nuvola{
    display: block;
    left: 55%;
    top: 0%;   
  }

  #attacco1:focus + #fulmine{
    display: block;
    animation: attacco1 0.5s;
    animation-timing-function: linear;
    left: 60%;
    top: 10%;   
    height: 100px;
    width: 100px;
  }

  #attacco2:focus + #colpo{
    display: block;
    right: 35%;
    top: 34%;
    animation: attacco2 0.5s linear;
    animation-timing-function: linear;
  }

  #ulti2:focus + #spada{
    display: block;
    animation: ulti2 1s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    right: 28%;
    top: 30%;
    transform: rotate(35deg);
  }

  @keyframes scudo1{ 
    0%{   
      left: 21.5%;
      top: 40%;   
      height: 50px;
      width: 20px;       
    }
    15%{
      left: 21.8%;
      top: 39%;
      height: 100px;
      width: 40px;  
          
    }  
    30%{
      left: 22%;
      top: 35%;
      height: 150px;
      width: 60px;
          
    }
    45%{
      left: 22.4%;
      top: 30%;  
      height: 300px;
      width: 120px;
          
    }
    60%{
      left: 22.7%;
      top: 25%;    
      height: 400px;
      width: 200px;
          
    }
    80%{
      left: 22.9%;
      top: 23%;   
      height: 450px;
      width: 225px; 
          
    }
    100%{
      left: 24.5%;
      top: 18%;   
      height: 500px;
      width: 250px;
          
    }   
  }

  @keyframes scudo2{ 
    0%{   
      right: 20%;
      top: 40%;   
      height: 50px;
      width: 20px;       
    }
    15%{
      right: 20.5%;
      top: 39%;
      height: 100px;
      width: 40px;  
          
    }  
    30%{
      right: 21%;
      top: 35%;
      height: 150px;
      width: 60px;
          
    }
    45%{
      right: 21.5%;
      top: 30%;  
      height: 300px;
      width: 120px;
          
    }
    60%{
      right: 22%;
      top: 25%;    
      height: 400px;
      width: 200px;
          
    }
    80%{
      right: 22.5%;
      top: 23%;   
      height: 450px;
      width: 250px; 
          
    }
    100%{
      right: 25%;
      top: 17%;   
      height: 500px;
      width: 300px; 
          
    }   
  }

  @keyframes attacco1{ 
    0%{   
      left: 65%;
      top: 8%;   
      height: 50px;
      width: 20px;       
    }
    15%{
      left: 65.5%;
      top: 8.5%;
      height: 100px;
      width: 40px;  
          
    }  
    30%{
      left: 66%;
      top: 10%;
      height: 150px;
      width: 60px;
          
    }
    45%{
      left: 66.2%;
      top: 12%;  
      height: 150px;
      width: 70px;
          
    }
    60%{
      left: 66.4%;
      top: 14%;    
      height: 200px;
      width: 80px;
          
    }
    80%{
      left: 66.6%;
      top: 16%;   
      height: 250px;
      width: 125px; 
          
    }
    100%{
      left: 67%;
      top: 17%;   
      height: 300px;
      width: 150px;
          
    }   
  
  }

  @keyframes attacco2 {
    0%{   
      right: 35%;
      top: 35%;  
      transform: rotate(0deg);       
    }
    15%{
      right: 35%;
      top: 32%;  
      transform: rotate(-120deg);  
          
    }  
    30%{
      right: 40%;
      top: 32%;  
      transform: rotate(-240deg);  
          
    }
    45%{
      right: 45%;
      top: 32%;  
      transform: rotate(-360deg);  
          
    }
    60%{
      right: 48%;
      top: 33%;  
      transform: rotate(-480deg);  
          
    }
    85%{
      right: 55%;
      top: 34%;  
      transform: rotate(-600deg);  
          
    }
    100%{
      right: 58%;
      top: 35%;  
      transform: rotate(-720deg);  
          
    } 
}
@keyframes ulti1 {
  0%{   
    left: 28%;
    top: 38%;       
  }
  15%{
    left: 30%;
    top: 40%;   
        
  }  
  30%{
    left: 32%;
    top: 45%;  
        
  }
  45%{
    left: 35%;
    top: 40%;  
        
  }
  60%{
    left: 40%;
    top: 32%;   
        
  }
  80%{
    left: 45%;
    top: 28%;   
        
  }
  100%{
    left: 50%;
    top: 32%;  
        
  }
 }
 @keyframes ulti2 {
  0%{   
    right: 28%;
    top: 30%;
    transform: rotate(35deg);       
  }
  15%{
    right: 30%;
    top: 32%;   
        
  }  
  30%{
    right: 35%;
    top: 33%;  
        
  }
  45%{
    right: 40%;
    top: 32%;  
        
  }
  60%{
    right: 48%;
    top: 30%;   
        
  }
  70%{
    right: 57%;
    top: 30%; 
    transform: rotate(0deg);  
  }
  80%{
    right: 57%;
    top: 30%; 
    transform: rotate(-180deg);   
        
  }
  100%{
    right: 57%;
    top: 30%;  
    transform: rotate(-360deg); 
        
  }
}
}
