html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

body{
  background-image: url("../img/arena.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
}

#immaginiUp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#schermi{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

#schermo1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 3px black;
}

#turno{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Georgia;
}

#schermo2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 3px black;
}

.lifebar{
  display: flex;
  justify-content: flex-start;
  width: 275px;
  height: 100px;
}

button :hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mosse{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.mossa{
  margin: 10px;
  height: 25px;
  width: 80px;
  cursor: pointer;
}

.ulti{
    opacity: 0.6; 
    cursor: not-allowed;
}