html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

body{
    background-image: url("../img/sfondoDescrizioni.jpg");
    background-size: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
header > div{
    border: solid 3px black;
    border-radius: 20px;
    background-color: #715AFF;
    padding: 10px;
}

img{
    margin: 15px;
    height: 200px;
    width: 200px;
}

#descrizioneProgetto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Personaggi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgPrincipali{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    color: white;
}

#ritorno{
    background-color: green;
    height: 75px;
    width: 125px;
    border-radius: 51%;
    top: 25 px;
    right: 0px;
    cursor: pointer;
}

.card{
    padding: 10px;
}

.ultimate{
    animation: raimbow 5s linear infinite;
}

@keyframes raimbow{
    0%{
       color: blue;
      }
      10%{
        color: blueviolet;
      }
      20%{
        color: red;
      }
      30%{
        color: orangered;
      }
      40%{
        color: yellow;
      }
      50%{
        color: greenyellow;
      }
      60%{
        color: green;
      }
      70%{
        color: greenyellow;
      }
      80%{
        color: lightblue;
      }
      90%{
        color: cyan;
      }
      100%{
        color: blue;
      }
      
  }