html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

body{
  margin: 0px;
  background-image: url("../img/sfondoPersonaggi.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  zoom: 90%;
}

header{
  color:aqua;
}


main{
  margin-top: 150px;
}

#immaginiUp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: larger;
  font-weight: bold;
}

#schermi{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 100px; 
}

#schermo1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 5px black;
}

#schermo2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 5px black;
}

.selezioneP{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.imgP > img{
  position: relative;
  z-index: 0;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.imgP > img:hover{
  position: relative;
  z-index: 2;
  animation: zoom 1s infinite ;
}

#sceltaAvvenuta{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#btnsceltaAvvenuta{
  background-color: green;
  border-radius: 10px;
  margin-top: 100px;
  height: 120px;
  width: 300px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}



@keyframes zoom{
  0%{
    z-index: 2;
    height: 100px;
    width: 100px;
    
  }
  15%{
    z-index: 2;
    height: 103px;
    width: 103px;
    
  }
  
  30%{
    z-index: 2;
    height: 108px;
    width: 108px;
    
  }
  45%{
    z-index: 2;
    height: 111px;
    width: 111px;
    
  }
  60%{
    z-index: 2;
    height: 105px;
    width: 105px;
    
  }
  80%{
    z-index: 2;
    height: 103px;
    width: 103px;
    
  }
  100%{
    z-index: 2;
    height: 100px;
    width: 100px;
    
  }
  
}

@media screen and (max-width: 768px){

  body{
    margin: 0px;
    background-image: url("../img/prove/");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #schermi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #schermo1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 5px black;
    margin: 20px;
  }

  main{
    margin: 0px;
  }

}
