html, body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0px;
  background-image: url("../img/sfondoPersonaggi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  zoom: 75%;
}

main{
  margin-top: 150px;
}

#immaginiUp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: larger;
  font-weight: bold;
  animation: raimbow 5s linear infinite;
}

#schermi{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

}

#schermo1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 5px black;
}

#schermo2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 5px black;
}

.selezioneP{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.imgP > img{
  position: relative;
  z-index: 0;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.imgP > img:hover{
  position: relative;
  z-index: 2;
  animation: zoom 1s infinite ;
}

#sceltaAvvenuta{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#btnsceltaAvvenuta{
  background-color: green;
  border-radius: 10px;
  margin-top: 100px;
  height: 120px;
  width: 300px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}



@keyframes zoom{
  0%{
    z-index: 2;
    height: 100px;
    width: 100px;
    
  }
  15%{
    z-index: 2;
    height: 103px;
    width: 103px;
    
  }
  
  30%{
    z-index: 2;
    height: 108px;
    width: 108px;
    
  }
  45%{
    z-index: 2;
    height: 111px;
    width: 111px;
    
  }
  60%{
    z-index: 2;
    height: 105px;
    width: 105px;
    
  }
  80%{
    z-index: 2;
    height: 103px;
    width: 103px;
    
  }
  100%{
    z-index: 2;
    height: 100px;
    width: 100px;
    
  }
  
}
.ultimate{
  animation: raimbow 5s linear infinite;
}

@keyframes raimbow{
  0%{
     color: blue;
    }
    10%{
      color: blueviolet;
    }
    20%{
      color: red;
    }
    30%{
      color: orangered;
    }
    40%{
      color: yellow;
    }
    50%{
      color: greenyellow;
    }
    60%{
      color: green;
    }
    70%{
      color: greenyellow;
    }
    80%{
      color: lightblue;
    }
    90%{
      color: cyan;
    }
    100%{
      color: blue;
    }
    
}

@media screen and (max-width: 1024px){

  #btnsceltaAvvenuta{
    background-color: green;
    border-radius: 10px;
    margin-top: 20px;
    height: 95px;
    width: 300px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }

  main{
    margin: 0px;
  }

}

@media screen and (max-width: 850px){

  #btnsceltaAvvenuta{
    background-color: green;
    border-radius: 10px;
    margin-top: 10px;
    height: 95px;
    width: 300px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
  #schermi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  main{
    margin: 0px;
  }

}

@media screen and (max-width: 768px){

  body{
    margin: 0px;
    background-image: url("../img/prove/sceltaPersonaggi1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #schermi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #schermo1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 5px black;
    margin: 20px;
  }

  main{
    margin: 0px;
  }

  h1{
    border: solid 3px black;
    border-radius: 25px;
    background-color: #93C48B;
    padding: 25px;
  }

  #title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-size: larger;
    font-weight: bold;
    color: black;
  }

}
