html, body{
  margin: 0;
}

body{
  margin: 0px;
  background-image: url("../img/sfondoRegole.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cregole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px black;
  border-radius: 20px;
  background-color: #715AFF;
}

div{
  margin: 10px;
}

#ritorno{
  background-color: green;
  height: 100px;
  width: 150px;
  border-radius: 51%;
  top: 25 px;
  right: 0px;
  cursor: pointer;
}

@media screen and (max-width: 768px){

  body{
    margin: 0px;
    background-image: url("../img/prove/Magic-Forest-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }


}
.colori{
  animation: raimbow 5s linear infinite;
  
}

@keyframes raimbow{
  0%{
     color: blue;
    }
    10%{
      color: blueviolet;
    }
    20%{
      color: red;
    }
    30%{
      color: orangered;
    }
    40%{
      color: yellow;
    }
    50%{
      color: greenyellow;
    }
    60%{
      color: green;
    }
    70%{
      color: greenyellow;
    }
    80%{
      color: lightblue;
    }
    90%{
      color: cyan;
    }
    100%{
      color: blue;
    }
    
}
